.Mision{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.MisionTitulo{
    margin: 4rem 0rem 0rem;
    background-color: #356E48;
    color: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.MisionTexto{
    margin: 0rem 2rem 4rem;
    background-color: #356E48;
    color: white;
    border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.267);

}